:root {
    --primary-purple: #8B5B9C;
    --primary-dark: #18161D;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: white;
}


.flex-2 {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    margin: 100px 0; 
}

.App {
    background-color: var(--primary-dark);
}