.page-header {
    color: white;
    width: 100%;
    height: 70px;
    background-color: var(--primary-purple);
}

.page-header__inner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-header__title {
    font-size: 2rem;
}